.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  z-index: 10;
  transition: opacity 0.8s;
}

.cursor .outer-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -9%;
  margin-top: -9%;
  width: 22%;
  height: 22%;
}
.cursor .outer-circle {
  width: 100%;
  height: 100%;
}
.cursor .outer-circle-inner {
  width: 100%;
  height: 100%;
}
.cursor .outer-circle-inner-1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #fce169;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.4s;
}
